absl-py==1.0.0
astor==0.8.1
bleach==1.5.0
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///opt/concourse/worker/volumes/live/6ed3f91b-28f6-4d58-6a9b-7a5e864c6554/volume/cffi_1625814710543/work
charset-normalizer==2.0.12
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///opt/concourse/worker/volumes/live/efc30a4d-1b2f-4c46-6f02-ff41b1cfc0e9/volume/cryptography_1635366582988/work
cycler==0.11.0
dataclasses==0.8
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dgl==0.8.1
gast==0.5.3
grpcio==1.46.0
html5lib==0.9999999
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.8.3
joblib==1.1.0
kiwisolver==1.3.1
Markdown==3.3.7
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.5.1
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.4
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///opt/concourse/worker/volumes/live/286ddfa9-f2fd-40b3-4c68-b14dbfd7c9fa/volume/pysocks_1605305809963/work
python-dateutil==2.8.2
pytz==2022.1
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.10.2
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
zipp==3.6.0
